header {
	margin: 0 0 4rem;
	padding: 0;
	height: 100vh;
}

.logo--header {
	color: #fff;
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
    font-size: 7rem;
    text-align: left;
    position: absolute;
    bottom: 25rem;
    left: 11rem;
}

.logo--header__secondary {
	position: relative;
	bottom: 19rem;
	right: 15rem;
}