@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

/* Imports */
@import url("blog.css");
@import url("contact.css");
@import url("footer.css");
@import url("grid.css");
@import url("header.css");
@import url("image.css");
@import url("nav.css");
@import url("snippets.css");
@import url("variables.css");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
	overflow-x: hidden;
	line-height: 1.8rem;
}

a {
	text-decoration: none;
}

#Content .content-1 {
	margin-top: 10rem;
}

.heading {
	font-size: 4rem;
	font-weight: 600;
	font-family: 'Fredoka', sans-serif;
	margin-top: 5rem;
	position: absolute;
}

.heading.heading--index {
	background-image: linear-gradient(120deg, #e6ccb2 0%, rgb(244,164,96) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0% 100%;
}

