#navigation{
	background: #9c6644;
	position: fixed;
	height: 3.5rem;
	width: 100vw;
	z-index: 9999;
}

#menu {
	display: flex;
	flex-direction: row;
	float: right;
	list-style: none;
}

#menu li {
	padding-top: 1rem;
	padding-right: 3rem;
}

#menu li a {
	font-weight: bold;
	color: #FFFFFF;
}

#menu li a:hover {
	color: #ede0d4;
}

.logo--header__nav {
	color: #fff;
	font-size: 3rem;
	font-family: 'Fredoka', sans-serif;
	font-weight: 500;
	top: 0.7rem;
	left: 2rem;
	position: absolute;
}

.logo--header__nav:hover {
	color: #ede0d4;
}


