:root {
	--gutter-horizontal: 6rem;
	--gutter-vertical: 8rem;
	--gutter-small-vertical: 6rem;
	--very-very-light-brown: #ede0d4;
	--very-light-brown: #e6ccb2;
	--light-brown: #ddb892;
	--fair-brown: #b08968;
	--dark-brown: #7f5539;
	--normal-brown: #9c6644;
}

