---
layout: layout.njk
eleventyNavigation:
  key: Blog
  order: 3
---
{# Simple blog that only requires scrolling #}

<div id="blog">
  {# Content Row 1 #}
  <article id="Content-1">
    <div class="row-blog">
        <h1 class="heading heading--underlined">
          Blog 1: Beans, beans, bean
        </h1>
        <br>
        <p class="paragraph-1">
          Founded in April 2017 by two young man from Yogyakarta, UB20 comes from an idea that everyone can enjoy coffee. It’s all started at a small rented building on Jalan Kaliurang. By 2019, UB20 has 5 branches, one of them located in Jakarta. Founded in April 2017 by two young man from Yogyakarta, UB20 comes from an idea that everyone can enjoy coffee. It’s all started at a small rented building on Jalan Kaliurang. By 2019, UB20 has 5 branches, one of them located in Jakarta. Founded in April 2017 by two young man from Yogyakarta, UB20 comes from an idea that everyone can enjoy coffee. It’s all started at a small rented building on Jalan Kaliurang. By 2019, UB20 has 5 branches, one of them located in Jakarta.
        </p>
        <br>
        <p class="paragraph-2">
          Founded in April 2017 by two young man from Yogyakarta, UB20 comes from an idea that everyone can enjoy coffee. It’s all started at a small rented building on Jalan Kaliurang. By 2019, UB20 has 5 branches, one of them located in Jakarta. Founded in April 2017 by two young man from Yogyakarta, UB20 comes from an idea that everyone can enjoy coffee. It’s all started at a small rented building on Jalan Kaliurang. By 2019, UB20 has 5 branches, one of them located in Jakarta. Founded in April 2017 by two young man from Yogyakarta, UB20 comes from an idea that everyone can enjoy coffee. It’s all started at a small rented building on Jalan Kaliurang. By 2019, UB20 has 5 branches, one of them located in Jakarta.
        </p>
    </div>
    <hr class="margin-top-small">
  </article>
{# Content Row 2 #}
  <article id="Content-2">
    <div class="row-blog">
       <h1 class="heading heading--underlined">
          Blog 2: Fishing for a Sword
        </h1>
        <br>
       <p class="paragraph-1">
          Founded in April 2017 by two young man from Yogyakarta, UB20 comes from an idea that everyone can enjoy coffee. It’s all started at a small rented building on Jalan Kaliurang. By 2019, UB20 has 5 branches, one of them located in Jakarta. Founded in April 2017 by two young man from Yogyakarta, UB20 comes from an idea that everyone can enjoy coffee. It’s all started at a small rented building on Jalan Kaliurang. By 2019, UB20 has 5 branches, one of them located in Jakarta. Founded in April 2017 by two young man from Yogyakarta, UB20 comes from an idea that everyone can enjoy coffee. It’s all started at a small rented building on Jalan Kaliurang. By 2019, UB20 has 5 branches, one of them located in Jakarta.
        </p>
        <br>
        <p class="paragraph-2">
          Founded in April 2017 by two young man from Yogyakarta, UB20 comes from an idea that everyone can enjoy coffee. It’s all started at a small rented building on Jalan Kaliurang. By 2019, UB20 has 5 branches, one of them located in Jakarta. Founded in April 2017 by two young man from Yogyakarta, UB20 comes from an idea that everyone can enjoy coffee. It’s all started at a small rented building on Jalan Kaliurang. By 2019, UB20 has 5 branches, one of them located in Jakarta. Founded in April 2017 by two young man from Yogyakarta, UB20 comes from an idea that everyone can enjoy coffee. It’s all started at a small rented building on Jalan Kaliurang. By 2019, UB20 has 5 branches, one of them located in Jakarta.
        </p>
    </div>
    <hr class="margin-top-small">
  </article>

  {# Content Row 3 #}
  <article id="Content-3">
    <div class="row-blog">
       <h1 class="heading heading--underlined">
          Blog 3: Dancing with Wolves
        </h1>
        <br>
       <p class="paragraph-1">
          Founded in April 2017 by two young man from Yogyakarta, UB20 comes from an idea that everyone can enjoy coffee. It’s all started at a small rented building on Jalan Kaliurang. By 2019, UB20 has 5 branches, one of them located in Jakarta. Founded in April 2017 by two young man from Yogyakarta, UB20 comes from an idea that everyone can enjoy coffee. It’s all started at a small rented building on Jalan Kaliurang. By 2019, UB20 has 5 branches, one of them located in Jakarta. Founded in April 2017 by two young man from Yogyakarta, UB20 comes from an idea that everyone can enjoy coffee. It’s all started at a small rented building on Jalan Kaliurang. By 2019, UB20 has 5 branches, one of them located in Jakarta.
        </p>
        <br>
        <p class="paragraph-2">
          Founded in April 2017 by two young man from Yogyakarta, UB20 comes from an idea that everyone can enjoy coffee. It’s all started at a small rented building on Jalan Kaliurang. By 2019, UB20 has 5 branches, one of them located in Jakarta. Founded in April 2017 by two young man from Yogyakarta, UB20 comes from an idea that everyone can enjoy coffee. It’s all started at a small rented building on Jalan Kaliurang. By 2019, UB20 has 5 branches, one of them located in Jakarta. Founded in April 2017 by two young man from Yogyakarta, UB20 comes from an idea that everyone can enjoy coffee. It’s all started at a small rented building on Jalan Kaliurang. By 2019, UB20 has 5 branches, one of them located in Jakarta.
        </p>
    </div>
    <hr class="margin-top-small">
  </article>

  {# Content Row 4 #}
  <article id="Content-4">
    <div class="row-blog">
       <h1 class="heading heading--underlined">
          Blog 4: Into the Desert
        </h1>
        <br>
       <p class="paragraph-1">
          Founded in April 2017 by two young man from Yogyakarta, UB20 comes from an idea that everyone can enjoy coffee. It’s all started at a small rented building on Jalan Kaliurang. By 2019, UB20 has 5 branches, one of them located in Jakarta. Founded in April 2017 by two young man from Yogyakarta, UB20 comes from an idea that everyone can enjoy coffee. It’s all started at a small rented building on Jalan Kaliurang. By 2019, UB20 has 5 branches, one of them located in Jakarta. Founded in April 2017 by two young man from Yogyakarta, UB20 comes from an idea that everyone can enjoy coffee. It’s all started at a small rented building on Jalan Kaliurang. By 2019, UB20 has 5 branches, one of them located in Jakarta.
        </p>
        <br>
        <p class="paragraph-2">
          Founded in April 2017 by two young man from Yogyakarta, UB20 comes from an idea that everyone can enjoy coffee. It’s all started at a small rented building on Jalan Kaliurang. By 2019, UB20 has 5 branches, one of them located in Jakarta. Founded in April 2017 by two young man from Yogyakarta, UB20 comes from an idea that everyone can enjoy coffee. It’s all started at a small rented building on Jalan Kaliurang. By 2019, UB20 has 5 branches, one of them located in Jakarta. Founded in April 2017 by two young man from Yogyakarta, UB20 comes from an idea that everyone can enjoy coffee. It’s all started at a small rented building on Jalan Kaliurang. By 2019, UB20 has 5 branches, one of them located in Jakarta.
        </p>
    </div>
    <hr class="margin-top-small">
  </div>
</article>