---
layout: layout.njk
eleventyNavigation:
  key: Home
  order: 1
---
{# Content Row 1 #}
<section id="Content-1">
  <div class="row">
    <div class="col-1-of-2">
      <h1 class="heading heading--underlined">
        Welcome to UB20.
      </h1>
      <p class="paragraph-1">
        Founded in April 2017 by two young man from Yogyakarta, UB20 comes from an idea that everyone can enjoy coffee. It’s all started at a small rented building on Jalan Kaliurang. By 2019, UB20 has 5 branches, one of them located in Jakarta.
      </p>
      <br>
      <p class="paragraph-2">
        Founded in April 2017 by two young man from Yogyakarta, UB20 comes from an idea that everyone can enjoy coffee. It’s all started at a small rented building on Jalan Kaliurang. By 2019, UB20 has 5 branches, one of them located in Jakarta. 
      </p>

      <div class="buttons action--button">
        <a href="/about" class="button bg-darker-brown">About Us</a>
      </div>
    </div>

    {# Index Image Right #}
    <div class="col-1-of-2">
      <img src="./images/home-img-1.jpg" class="large-right-img position-absolute">
    </div>
  </div>
</section>


{# Content Row 2 & Banner Image #}
<section id="Content-2">
  <div class="row">
    <div id="banner-img-1"></div>
  </div>
</section>

{# Content Row 3 #}
<section id="Content-3">
  <div class="row">
    <div class="col-1-of-2">
      <img src="./images/home-img-3.jpg" class="large-left-img position-absolute">
    </div>

    <div class="col-1-of-2">
     <h1 class="heading heading--underlined">
        Check our Menu!
      </h1>
     <p class="paragraph-1">
        Founded in April 2017 by two young man from Yogyakarta, UB20 comes from an idea that everyone can enjoy coffee. It’s all started at a small rented building on Jalan Kaliurang. By 2019, UB20 has 5 branches, one of them located in Jakarta.
      </p>
      <br>
      <p class="paragraph-2">
        Founded in April 2017 by two young man from Yogyakarta, UB20 comes from an idea that everyone can enjoy coffee. It’s all started at a small rented building on Jalan Kaliurang. By 2019, UB20 has 5 branches, one of them located in Jakarta. 
      </p>
      <div class="buttons action--button">
        <a href="/menu" class="button bg-darker-brown">Menu</a>
      </div>
    </div>
  </div>
</section>