---
layout: layout.njk
eleventyNavigation:
  key: Menu
  order: 6
---
{# Menu Title #}
  <div id="Content-1">
    <div class="row">
        <h1 class="heading heading--underlined">
          Menu
        </h1>
    </div>
  </div>

  {# Menu Contents #}
  <article id="Content-2">
    <div class="row" style="margin-top: -6rem;">

      <div class="col-1-of-3 margin-right-medium">
        <h2 class="capitalize secondary-title">
          SIDES
        </h2>
        <hr>
        <ul class="menu-list">
          <li class="menu-list__item">
            Olives with Salmon 
            <span class="menu-price bold">€3.00</span>
          </li>
          <li class="menu-list__item">
            Onion Bites
            <span class="menu-price bold">€2.50</span>
          </li>
          <li class="menu-list__item">
            Cheese Chips and Bacon
            <span class="menu-price bold">€4.00</span>
          </li>
          <li class="menu-list__item">
            Sweet Potato Chips
            <span class="menu-price bold">€4.50</span>
          </li>
          <li class="menu-list__item">
            Best Salad Ever
            <span class="menu-price bold">€5.00</span>
          </li>
        </ul>
      </div>

      <div class="col-1-of-3 margin-right-medium">
        <h2 class="capitalize secondary-title">
          MAINS
        </h2>
        <hr>
        <ul class="menu-list">
          <li class="menu-list__item">
            The Falafel 
            <span class="menu-price bold">€6.00</span>
          </li>
          <li class="menu-list__item">
            Chicken Burger
            <span class="menu-price bold">€5.50</span>
          </li>
          <li class="menu-list__item">
            Cheese & Bacon Burger
            <span class="menu-price bold">€6.00</span>
          </li>
          <li class="menu-list__item">
            Waffles 
            <span class="menu-price bold">€6.50</span>
          </li>
          <li class="menu-list__item">
            Nutella Crepes
            <span class="menu-price bold">€7.00</span>
          </li>
        </ul>
      </div>

      <div class="col-1-of-3">
        <h2 class="capitalize secondary-title">
          COFFEE
        </h2>
        <hr>
        <ul class="menu-list">
          <li class="menu-list__item">
            Cappucino 
            <span class="menu-price bold">€3.00</span>
          </li>
          <li class="menu-list__item">
            Latte
            <span class="menu-price bold">€3.50</span>
          </li>
          <li class="menu-list__item">
            Mocha
            <span class="menu-price bold">€4.00</span>
          </li>
          <li class="menu-list__item">
            Americano
            <span class="menu-price bold">€3.50</span>
          </li>
          <li class="menu-list__item">
            Iced Coffee
            <span class="menu-price bold">€5.00</span>
          </li>
        </ul>
      </div>

    </div>
  </article>