<footer id="footer">

	<div class="logo logo--footer">
       <a href="/" class="logo--footer__home">UB20.</a>
    </div>

    <div id="footer--content">
    	<div class="footer--content__left">
			<ul class="footer--list">
              <li class="footer--item">
                <a href="/" class="footer--link underline">Home</a>
              </li>
              <li class="footer--item">
                <a href="/about" class="footer--link underline">About</a>
              </li>
              <li class="footer--item">
                <a href="/blog" class="footer--link underline">Blog</a>
              </li>
              <li class="footer--item">
                <a href="/booking" class="footer--link underline">Booking</a>
              </li>
              <li class="footer--item">
                <a href="/contact" class="footer--link underline">Contact</a>
              </li>
              <li class="footer--item">
                <a href="/menu" class="footer--link underline">Menu</a>
              </li>
            </ul>
    	</div>

    	<div class="footer--content__right">
    		<p class="footer--copyright">
              Copyright &copy; <a href="https://github.com/wyne-ybanez" class="footer--link__site">Wyne Ybanez</a>. 
              This project focuses on modular layout, separation of concerns and CSS layouts.
              I hope you enjoy this website as much as I enjoyed creating it for you.
	          </p>
    	</div>
    </div>

</footer>