<header>
    {% include "nav.njk" %}
    {# Masthead #}
    <img src="/images/masthead.jpeg" class="masthead-img">
    {# End of Masthead #}
    <h1 class="logo logo--header brown-text-shadow">UB20.</h1>
    <h2 class="logo logo--header logo--header__secondary brown-text-shadow">
        Café Bar
    </h2>
    <div class="buttons">
        <a href="/" class="button button--header">Home</a>
        <a href="#Content" class="button button--header">Read >></a>
    </div>
</header>